*{
    padding: 0px;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500;700&display=swap');

.container{
    height: 150px;
    /* background-color: black;
    color: white; */
    display: flex;
    background-color:white;
    color: rgb(3, 3, 50);
    justify-content: space-between;
}
.left{
    padding-top: 2vh;
}
.mid{
    padding-top: 5vh;
    padding-right: 20vw;
}
.right{
    padding-top: 2vh;
}

.navul{
    font-family: 'Signika Negative', sans-serif;
    font-weight:900; 
    background-color: rgb(7, 7, 130);
    padding: 10px;
    /* list-style: none;
    text-decoration: none; */
}
.navul li{

    display: inline;
    padding:5px;
    padding-left: 2vw;
    padding-right: 2vw;
}
.navul li a{ color: white;
    text-decoration: none;
}
.main{

    padding: 10vw;
    /* background-image: url(CollegeBuilding.jpg);
    background-repeat: no-repeat;
    background-color:black; */
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 2vw;
    background-image: image-set(100vw);
    background-position: center;
    background-size: cover;
}
.bar{

}
.box1{
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    background-color: #f9ff48;
    border: px solid rgb(108, 160, 11);
    width: 30vw;
    height: 25vh;
    padding: 0.5vw;
}
.box1 h2{
    font-family: 'Signika Negative', sans-serif;
}
.sam{
    width: 30vw;
    height: 5vh;
}
.box2{
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
     color: white;
    background-color: rgb(7, 7, 130);
    border: 2px solid rgb(35, 3, 3);
    width: 30vw;
    height: 15vh;
    padding: 0.5vw;
}
.box2 h2{
    font-family: 'Signika Negative', sans-serif;
}
.box2 a{
    text-decoration: none;
    color:white
}

.box3{
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    background-color: white;
    border: 2px solid rgb(78, 241, 247);
    width: 30vw;
    height: 40vh;
    padding: 0.5vw;

}
.box3 b{
    font-family: 'Signika Negative', sans-serif;
    padding-left: 45px;
  
}
.box4{
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    color: white;
    background-color: rgb(7, 7, 130);
    border: 2px solid rgb(35, 3, 3);
    width: 30vw;
    height: 40vh;
    padding: 0.5vw;
}
.box4 img{
    width: 105px;
}
.box5{
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    color: white;
    background-color: rgb(7, 7, 130);
    border: 2px solid rgb(35, 3, 3);
    width: 30vw;
    height: 40vh;
    padding: 0.5vw;
}
.box5 img{
    padding-left: 70px;
}
.box6{
    display:none;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    color: white;
    background-color: rgb(7, 7, 130);
    border: 2px solid rgb(35, 3, 3);
    width: 30vw;
    height: 40vh;
    padding: 0.5vw;
}
.bar2{
    height: 62vh;
    border: 0px solid rgb(35, 3, 3);
    width: 60vw;
    background-color:rgb(255, 255, 255);
    padding: 0.5vw;
    
}
.bar2 h1{
    text-align: center;
}
button{
    border-radius: 13px;
    text-align: center;
}
.handle a{
    display: flex;
    justify-content: center;

}
.handle img{
    display: inline;
    width: 50px;
}
#but1{
    background-color: rgb(124, 11, 230);
     color: white;
}
#but2{
   background-color :rgb(4, 4, 77);
   color: white;
}
#but3{
    background-color: rgb(81, 7, 150); 
    color: white;
} 
footer{
    display: flex;
    justify-content: flex-end;
    height: 20vh;
    padding: 20px;
    background-color: rgb(7, 7, 130);
    color:white;
    text-decoration: none;
}
footer h2{
    padding-right: 70px;
}
.copy1 a{
    text-decoration: none;
    color:white;
}
.copy2{
    background-color: rgb(7, 7, 130);
    color:white;
    height: 20px;
    display: flex;
    justify-content: center;
}